{% extends 'base.html.twig' %}
{% block title %}Список{% endblock %}
{% block body %}
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">Новости</h1>
            <p class="lead text-muted">Тестовая работа для компании Trinet</p>
        </div>
    </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                {% for item in news %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.excerpt}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ item.createdAt.format('d.m.Y H:i') }}</small>
                                    <a href="{{ path('news_show', { slug: item.getPath() }) }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% if totalPages > 1 %}
                    {{ include('news/parts/pagination.html.twig') }}
                {% endif %}
            </div>
        </div>
{% endblock %}
