{% extends 'base.html.twig' %}
{% block title %}{{ news.title }}{% endblock %}
{% block body %}
    <div class="container bg-light">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Title -->
                <h1 class="mt-4">{{ news.title }}</h1>

                <hr>

                <!-- Date/Time -->
                <p> {{ news.createdAt.format('d M Y H:i') }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ news.excerpt }}</p>

                {{ news.description | raw }}
            </div>

        </div>
        <!-- /.row -->

    </div>
{% endblock %}
