<nav aria-label="Постраничная навигация" class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item{{ page == 1 ? ' disabled' }}">
            <a class="page-link" href="{{ path('news_index', {page: page-1 < 1 ? 1 : page-1}) }}">Назад</a>
        </li>
        {% for i in 1..totalPages %}
            <li class="page-item{{ page == i ? ' active' }}">
                <a class="page-link" href="{{ path('news_index', {page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item{{ page == totalPages ? ' disabled' }}">
            <a class="page-link" href="{{ path('news_index', {page: page+1 <= totalPages ? page+1 : page}) }}">Вперёд</a>
        </li>
    </ul>
</nav>
